<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/res/css/index.css">

    <script src="../res/js/echarts.min_1.js"></script>
</head>
<body id="back">
    <div id="app">
        <div id="head">
            <div id="headleft">
                <p id="Date"></p>
            </div>
            <div id="headmiddle">
                <h1>南兴果仁生产安全与环境</h1>
            </div>
            <div id="headright">
                <iframe style="margin-top:1.8%" width="320" height="50" src="https://i.tianqi.com?c=code&id=34&color=%2357BEF3&icon=1&num=5&site=19" frameborder="0"></iframe>
                <!--<p>今日天气：晴 14°C-22°C</p>-->
            </div>
        </div>

        <div id="main">
            <div id="first">
                <div id="first-one">
                    <title-bar value="环境参数"></title-bar>
                    <div style=" width: 100%; height: 100%;">
                        <image-text index="0" :value-name="first.imageText1.name" :value="first.imageText1.value" :unit="first.imageText1.unit"></image-text>
                        <image-text index="1" :value-name="first.imageText2.name" :value="first.imageText2.value" :unit="first.imageText2.unit"></image-text>
                        <image-text index="2" :value-name="first.imageText3.name" :value="first.imageText3.value" :unit="first.imageText3.unit"></image-text>
                        <image-text index="3" :value-name="first.imageText4.name" :value="first.imageText4.value" :unit="first.imageText4.unit"></image-text>
                        <image-text index="4" :value-name="first.imageText5.name" :value="first.imageText5.value" :unit="first.imageText5.unit"></image-text>
                        <image-text index="5" :value-name="first.imageText6.name" :value="first.imageText6.value" :unit="first.imageText6.unit"></image-text>
                    </div>
                </div>
                <div id="first-two">
                    <title-bar value="炉前温度"></title-bar>
                    <div id="luQianChart" class="echarts"></div>
                </div>
                <div id="first-three">
                    <title-bar value="炉中温度"></title-bar>
                    <div id="luZhongChart" class="echarts"></div>
                </div>
                <div id="first-four">
                    <title-bar value="炉后温度"></title-bar>
                    <div id="luHouChart" class="echarts"></div>

                </div>
            </div>
            <div id="second">
                <div id="second-one">
                    <div class="echarts">
                        <div style="float: left;background-color:green; width:47%;
                    height:47%;margin-left:2%;margin-top:1.5%">
                            <canvas id="video-canvas1" style="width:100%;height:100%"></canvas>
                        </div>
                        <div style="float: left;background-color:green; width:47%;
                    height:47%;margin-left:2%;margin-top:1.5%">
                            <canvas id="video-canvas2" style="width:100%;height:100%"></canvas>
                        </div>
                        <div style="float: left;background-color:green; width:47%;
                    height:47%;margin-left:2%;margin-top:1.5%">
                            <canvas id="video-canvas3" style="width:100%;height:100%"></canvas>
                        </div>
                        <div style="float: left;background-color:green; width:47%;
                height:47%;margin-left:2%;margin-top:1.5%">
                            <canvas id="video-canvas4" style="width:100%;height:100%"></canvas>
                        </div>
                    </div>
                </div>
                <div id="second-two">
                    <title-bar value="燃油流量"></title-bar>
                    <div id="ranyouChart" class="echarts"></div>
                </div>
            </div>
            <div id="third">
                <div id="third-one">
                    <title-bar value="报警记录"></title-bar>

                    <div class="echarts" style="margin-top:2%">
                        <div v-for="item in third.items"
                             :class="{ 'row-red':item.remark=='待处理','row-green': item.remark=='已处理','row-yellow': item.remark=='处理中'}">
                            <span class="col">{{item.time}}</span>
                            <!--<span class="col">{{RecentProject.InputDate.substr(5,5)}}</span>-->
                            <span class="col">{{item.result}}</span>
                            <span class="col">{{item.remark}}</span>

                        </div>

                    </div>
                </div>
                <div id="third-two">
                    <title-bar value="机台状态"></title-bar>
                    <div class="echarts" style="margin-top:5%;margin-left:5%">

                        <div style="height:30%">
                            <lamp-text index="1" value="1号机"></lamp-text>
                            <lamp-text index="1" value="2号机"></lamp-text>
                            <lamp-text index="1" value="3号机"></lamp-text>
                            <lamp-text index="1" value="4号机"></lamp-text>
                        </div>

                        <div style="height:30%">
                            <lamp-text index="1" value="5号机"></lamp-text>
                            <lamp-text index="1" value="6号机"></lamp-text>

                            <lamp-text index="0" value="7号机"></lamp-text>
                            <lamp-text index="1" value="8号机"></lamp-text>
                        </div>
                        <div style="height:30%">
                            <lamp-text index="1" value="9号机"></lamp-text>
                        </div>
                        

                    </div>
                </div>
                <div id="third-three">
                    <title-bar value="机台综合"></title-bar>
                    <div id="jiTaiChart" class="echarts"></div>
                </div>
                <div id="third-four">
                    <title-bar value="机台能耗"></title-bar>
                    <div id="nenHaoChart" class="echarts"></div>

                </div>
            </div>
        </div>
    </div>

    <!--<script src="/res/js/echarts.min.js"></script>-->
    <script src="/res/js/jquery.min.js" type="text/javascript"></script>
    <script src="/res/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/res/js/jsmpeg.min.js"></script>
    <!--<script src="/res/js/jquery-3.3.1.min.js"></script>-->
    <script src="/res/js/vue.js"></script>
    <script src="/res/js/vuex.js"></script>
    <!--<script src="/res/vuex/store.js"></script>-->
    <script src="/res/js/vue-resource.min.js"></script>
    <!--<script src="/res/js/ElementUI/element-ui.js"></script>-->
    <link rel="stylesheet" href="/res/component/title-bar/title-bar.css">
    <script src="/res/component/title-bar/title-bar.js"></script>
    <link rel="stylesheet" href="/res/component/image-text/image-text.css">
    <script src="/res/component/image-text/image-text.js"></script>
    <link rel="stylesheet" href="/res/component/lamp-text/lamp-text.css">
    <script src="/res/component/lamp-text/lamp-text.js"></script>

    <script type="text/javascript">
        //定义echart组件变量
        //let LuQianChart = echarts.init(document.getElementById('luQianChart'));
        //let LuZhongChart = echarts.init(document.getElementById('luZhongChart'));
        //let LuHouChart = echarts.init(document.getElementById('luHouChart'));
        var datas = new Vue({
            el: "#app",
            data: {
                first: {
                    //xLine-Test
                    imageText1: {
                        name: "有毒气体",
                        value: 320,
                        unit: "t/a"
                    },
                    imageText2: {
                        name: "电能损耗",
                        value: 320,
                        unit: "kW·h"
                    },
                    imageText3: {
                        name: "湿度",
                        value: 16,
                        unit: "m³/a"
                    },
                    imageText4: {
                        name: "噪音",
                        value: 88,
                        unit: "dB(A)"
                    },
                    imageText5: {
                        name: "粉尘",
                        value: "0.70",
                        unit: "mg/Nm3"
                    },
                    imageText6: {
                        name: "温度",
                        value: 17,
                        unit: "℃"
                    },
                },
                second: {

                },
                third: {
                    items: [
                        { time: '2021-10-01 14:00:00', result: '燃油不足', remark: '待处理' },
                        { time: '2021-10-01 14:00:00', result: '燃油不足', remark: '处理中' },
                        { time: '2021-10-01 14:00:00', result: '燃油不足', remark: '已处理' },
                        { time: '2021-10-01 14:00:00', result: '燃油不足', remark: '已处理' },
                        { time: '2021-10-01 14:00:00', result: '燃油不足', remark: '已处理' },
                        //{ time: '2021-10-01 14:00:00', result: '燃油不足', remark: '待处理' },
                    ],
                    jitai: [
                        { name: '停机', value: 1 },
                        { name: '原料不足', value: 0 },
                        { name: '高温', value: 0 },
                        { name: '运行', value: 8 },
                        { name: '低温', value: 0 },
                    ],
                }
            },
            mounted() {
                //setInterval(this.GetLuQianData, 1000);
                this.GetHuanJingData();
                this.GetLuQianData();
                this.GetRanQiData();
                this.GetNengHaoData();
                this.GetJitaiData();
                //this.GetVideo();
            },
            methods: {

                //异步获取数据
                GetHuanJingData: function () {
                    this.$http.post('/ashx/GetHuanJingData.ashx')
                        .then((res) => {
                            //用局部变量遍历，最后赋值给echart变量
                            console.log(res.data.indexOf);
                            this.first.imageText1.value = res.data[0].ToxicGas;
                            this.first.imageText2.value = res.data[0].Ammeter1.toFixed(1);
                            this.first.imageText3.value = res.data[0].Humidity.toFixed(1);
                            this.first.imageText4.value = res.data[0].Noise;
                            this.first.imageText6.value = res.data[0].ToxicGas;

                        }, (res) => {
                            console.log(res);
                            // 响应错误回调
                            alert('请求环境数据失败');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },

                //炉前数据
                GetLuQianData: function () {
                    this.$http.post('/ashx/GetPressValue.ashx')
                        .then((res) => {
                            var xLine = [];
                            var yLine1 = [];
                            var yLine2 = [];
                            var yLine3 = [];
                            var yLine4 = [];
                            var yLine5 = [];
                            var yLine6 = [];

                            //用局部变量遍历，最后赋值给echart变量
                            console.log(res.data);
                            for (var i = 0; i < res.data.length; i++) {

                                xLine.push(res.data[i]["rtime"]);
                                if (res.data[i]["agvT1"] != 0)
                                    yLine1.push(res.data[i]["agvT1"].toFixed(2));
                                else
                                    yLine1.push("");
                                if (res.data[i]["agvT2"] != 0) {
                                    yLine2.push(res.data[i]["agvT2"].toFixed(2));
                                } else
                                    yLine2.push("");
                                if (res.data[i]["agvT3"] != 0) {
                                    yLine3.push(res.data[i]["agvT3"].toFixed(2));
                                } else
                                    yLine3.push("");
                                if (res.data[i]["agvT4"] != 0) {
                                    yLine4.push(res.data[i]["agvT4"].toFixed(2));
                                } else
                                    yLine5.push("");
                                if (res.data[i]["agvT5"] != 0) {
                                    yLine5.push(res.data[i]["agvT5"].toFixed(2));
                                } else
                                    yLine5.push("");
                                if (res.data[i]["agvT6"] != 0) {
                                    yLine6.push(res.data[i]["agvT6"].toFixed(2));
                                } else
                                    yLine6.push("");
                            }
                            this.WriteLuQian(1,xLine, yLine1, yLine2, 200,50);
                            this.WriteLuQian(2, xLine, yLine3, yLine4, 200, 50);
                            this.WriteLuQian(3, xLine, yLine5, yLine6, 200, 50);


                        }, (res) => {
                            // 响应错误回调
                            alert('请求新建处理失败');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },
                //燃气数据
                GetRanQiData: function () {
                    this.$http.post('/ashx/GetRanQiValue.ashx')
                        .then((res) => {
                            var xLine = [];
                            var yLine1 = [];

                            //用局部变量遍历，最后赋值给echart变量
                            //console.log(res.data);
                            for (var i = 0; i < res.data.length; i++) {

                                xLine.push(res.data[i]["rtime"]);
                                if (res.data[i]["agvT1"] != 0)
                                    yLine1.push(res.data[i]["agvT1"]);
                                else
                                    yLine1.push("");
                            }
                            this.WriteRanQi(xLine, yLine1);
                        }, (res) => {
                            console.log(res);
                            // 响应错误回调
                            alert('请求新建处理失败');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },
                GetJitaiData: function () {
                    var that = this;
                    var xLine = [];
                            var yLine1 = [];
                    this.WriteStatePie(xLine, yLine1, this.third.jitai);
                    //this.$http.post('/ashx/GetJitaiTongJi.ashx')
                    //    .then((res) => {
                    //        

                    //        //用局部变量遍历，最后赋值给echart变量
                    //        console.log(that.third.jitai);
                    //        //for (var i = 0; i < res.data.length; i++) {

                    //        //    xLine.push(res.data[i]["States"]);
                    //        //    yLine1.push(res.data[i]["sCount"]);
                    //        //}

                            
                    //    }, (res) => {
                    //        // 响应错误回调
                    //        alert('请求新建处理失败');
                    //    })
                    //    .catch(function (err) {
                    //        console.log(err);
                    //    });
                },
                GetNengHaoData: function () {
                    this.$http.post('/ashx/GetNengHao.ashx')
                        .then((res) => {
                            var xLine = [];
                            var yLine1 = [];

                            //用局部变量遍历，最后赋值给echart变量
                            console.log(res.data);
                            for (var i = 0; i < res.data.length; i++) {

                                xLine.push(res.data[i]["rtime"]);
                                if (res.data[i]["agvT1"] != 0)
                                    yLine1.push(res.data[i]["agvT1"]);
                                else
                                    yLine1.push("");
                            }
                            this.WriteNengHao(xLine, yLine1);
                        }, (res) => {
                            // 响应错误回调
                            alert('请求新建处理失败');
                        })
                        .catch(function (err) {
                            console.log(err);
                        });
                },


                //绘制echart图
                //中下，折线图
                WriteLuQian: function (temp,xLine, yLine1, yLine2,maxLine,minLine ) {
                    const that = this;
                    var myChart = null;
                    if (temp == 1)
                        myChart = echarts.init(document.getElementById('luQianChart'));
                    else if (temp == 2)
                        myChart = echarts.init(document.getElementById('luZhongChart'));
                    else if (temp == 3)
                        myChart = echarts.init(document.getElementById('luHouChart'));

                    var charts = {
                        unit: '压力',
                        names: ['燃烧室温度', '烟囱温度'],
                        lineX: xLine,
                        value: [yLine2, yLine1],

                    };

                    var color = ['#FF377F', '#44F1FF'];
                    var shadowcolor = ['#09205C', '#2583A7'];

                    var lineY = [];

                    for (var i = 0; i < charts.names.length; i++) {
                        var x = i;
                        if (x > color.length - 1) {
                            x = color.length - 1
                        }
                        var data = {
                            name: charts.names[i],
                            type: 'line',
                            color: color[x],
                            smooth: true,
                            areaStyle: {
                                normal: {
                                    color:
                                        new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: shadowcolor[x]  // 0% 处的颜色
                                        },
                                        {
                                            offset: 0.7,
                                            //color: shadowcolor[x],
                                            color: '#09205C' // 100% 处的颜色
                                        }], false),
                                    //shadowColor: '#4682B4',
                                    shadowBlur: 10
                                }
                            },
                            symbol: 'circle',
                            symbolSize: 5,
                            connectNulls: false,
                            label: {
                                formatter: function (params) {
                                    if (params.value > 0) {
                                        return params.value;
                                    } else {
                                        return null;
                                    }
                                }
                            },
                            data: charts.value[i]
                        };
                        lineY.push(data)
                    }

                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            icon: 'rectangle',
                            //orient: 'vertical',
                            show: true,
                            data: charts.names,
                            textStyle: {
                                fontSize: 12,
                                color: '#C1FFC1'
                            },
                            right: '4%',
                            top: '0%'
                        },
                        grid: {
                            top: '10%',
                            left: '2%',
                            right: '5%',
                            bottom: '2%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: true,
                            data: charts.lineX,
                            axisLabel: {
                                interval: 10,
                                textStyle: {
                                    color: '#98F5FF'
                                    //color: 'rgb(0,253,255,0.6)'
                                },
                                formatter: function (params) {
                                    return params.split(' ')[1]
                                }
                            }
                        },
                        yAxis: {
                            //name: charts.unit,
                            type: 'value',
                            max: maxLine,
                            min: minLine,
                            splitNumber: 5,
                            axisLabel: {

                                textStyle: {
                                    color: '#98F5FF'
                                }
                            },
                            splitLine: {

                                lineStyle: {
                                    color: '#122659'
                                    //color: '#4682B4'
                                }
                            },
                            axisLine: {

                                lineStyle: {
                                    color: '#4682B4'
                                }
                            }
                        },
                        series: lineY
                    };
                    myChart.clear();
                    myChart.setOption(option, true);
                },
                //燃油流量
                WriteRanQi: function (xLine, yLine1) {
                    var myChart = echarts.init(document.getElementById('ranyouChart'));;

                    var charts = {
                        unit: '压力',
                        names: ['流量'],
                        lineX: xLine,
                        value: [yLine1],

                    };

                    var color = ['#4AB2B3', '#44F1FF'];
                    var shadowcolor = ['#4AB2B3', '#2583A7'];

                    var lineY = [];

                    for (var i = 0; i < charts.names.length; i++) {
                        var x = i;
                        if (x > color.length - 1) {
                            x = color.length - 1
                        }
                        var data = {
                            name: charts.names[i],
                            type: 'line',
                            color: color[x],
                            smooth: true,
                            areaStyle: {
                                normal: {
                                    color:
                                        new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: shadowcolor[x]  // 0% 处的颜色
                                        },
                                        {
                                            offset: 0.7,
                                            //color: shadowcolor[x],
                                            color: '#549C9B' // 100% 处的颜色
                                        }], false),
                                    //shadowColor: '#4682B4',
                                    shadowBlur: 10
                                }
                            },
                            symbol: 'circle',
                            symbolSize: 5,
                            connectNulls: false,
                            label: {
                                formatter: function (params) {
                                    if (params.value > 0) {
                                        return params.value;
                                    } else {
                                        return null;
                                    }
                                }
                            },
                            data: charts.value[i]
                        };
                        lineY.push(data)
                    }

                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            icon: 'rectangle',
                            //orient: 'vertical',
                            show: true,
                            data: charts.names,
                            textStyle: {
                                fontSize: 12,
                                color: '#C1FFC1'
                            },
                            right: '4%',
                            top: '0%'
                        },
                        grid: {
                            top: '10%',
                            left: '2%',
                            right: '5%',
                            bottom: '2%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: charts.lineX,
                            axisLabel: {
                                interval: 2,
                                textStyle: {
                                    color: '#98F5FF'
                                    //color: 'rgb(0,253,255,0.6)'
                                },
                                formatter: function (params) {
                                    return params.split(' ')[1]
                                }
                            }
                        },
                        yAxis: {
                            //name: charts.unit,
                            type: 'value',
                            max: 1.1,
                            min: 0,
                            splitNumber: 5,
                            axisLabel: {

                                textStyle: {
                                    color: '#98F5FF'
                                }
                            },
                            splitLine: {

                                lineStyle: {
                                    color: '#122659'
                                    //color: '#4682B4'
                                }
                            },
                            axisLine: {

                                lineStyle: {
                                    color: '#4682B4'
                                }
                            }
                        },
                        series: lineY
                    };
                    myChart.clear();
                    myChart.setOption(option, true);
                },
                //能耗折线图
                WriteNengHao: function (xLine, yLine1) {
                    var myChart = echarts.init(document.getElementById('nenHaoChart'));;

                    var charts = {
                        unit: '压力',
                        names: ['流量'],
                        lineX: xLine,
                        value: [yLine1],
                    };
                    console.log(yLine1);
                    var color = ['#3CEBFE', '#44F1FF'];
                    var shadowcolor = ['#4AB2B3', '#2583A7'];

                    var lineY = [];

                    for (var i = 0; i < charts.names.length; i++) {
                        var x = i;
                        if (x > color.length - 1) {
                            x = color.length - 1
                        }
                        var data = {
                            name: charts.names[i],
                            type: 'line',
                            color: color[x],
                            smooth: true,
                            areaStyle: {
                                normal: {
                                    color:
                                        new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: shadowcolor[x]  // 0% 处的颜色
                                        },
                                        {
                                            offset: 0.7,
                                            //color: shadowcolor[x],
                                            color: '#1F4C69' // 100% 处的颜色
                                        }], false),
                                    //shadowColor: '#4682B4',
                                    shadowBlur: 10
                                }
                            },
                            symbol: 'circle',
                            symbolSize: 5,
                            connectNulls: false,
                            label: {
                                formatter: function (params) {
                                    if (params.value > 0) {
                                        return params.value;
                                    } else {
                                        return null;
                                    }
                                }
                            },
                            data: charts.value[i]
                        };
                        lineY.push(data)
                    }

                    var option = {
                        tooltip: {
                            trigger: 'axis'
                        },
                        legend: {
                            icon: 'rectangle',
                            //orient: 'vertical',
                            show: true,
                            data: charts.names,
                            textStyle: {
                                fontSize: 12,
                                color: '#C1FFC1'
                            },
                            right: '4%',
                            top: '0%'
                        },
                        grid: {
                            top: '10%',
                            left: '2%',
                            right: '5%',
                            bottom: '2%',
                            containLabel: true
                        },
                        xAxis: {
                            type: 'category',
                            boundaryGap: false,
                            data: charts.lineX,
                            axisLabel: {
                                interval: 3,
                                textStyle: {
                                    color: '#98F5FF'
                                    //color: 'rgb(0,253,255,0.6)'
                                },
                                formatter: function (params) {
                                    return params.split(' ')[1]
                                }
                            }
                        },
                        yAxis: {
                            //name: charts.unit,
                            type: 'value',
                            max: 2,
                            min: 0,
                            splitNumber: 5,
                            axisLabel: {

                                textStyle: {
                                    color: '#98F5FF'
                                }
                            },
                            splitLine: {

                                lineStyle: {
                                    color: '#1C3764'
                                    //color: '#4682B4'
                                }
                            },
                            axisLine: {

                                lineStyle: {
                                    color: '#4682B4'
                                }
                            }
                        },
                        series: lineY
                    };
                    myChart.clear();
                    myChart.setOption(option, true);
                },
                //饼状图
                WriteStatePie: function (xLine, yLine1, data) {
                    console.log(data);
                    var myChart = echarts.init(document.getElementById('jiTaiChart'));;
                    var option = {
                        color: ['#52AFFF', '#FF7596', '#FEB626', '#6EFE68', '#00FA9A', '#A52A2A', '#516b91', '#59c4e6', '#edafda', '#93b7e3', '#a5e7f0', '#cbb0e3'],
                        // 控制提示
                        tooltip: {
                            // 非轴图形，使用item的意思是放到数据对应图形上触发提示
                            trigger: 'item',
                            // 格式化提示内容：
                            // a 代表图表名称 b 代表数据名称 c 代表数据  d代表  当前数据/总数据的比例
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            type: 'scroll',
                            orient: 'vertical',
                            right: 1,
                            top: 10,
                            bottom: 20,
                            textStyle: {
                                color: '#4c9bfd'
                            }
                        },
                        // 控制图表
                        series: [
                            {
                                // 图表名称
                                name: '地区',
                                // 图表类型
                                type: 'pie',
                                // 南丁格尔玫瑰图 有两个圆  内圆半径10%  外圆半径70%
                                // 百分比基于  图表DOM容器的半径
                                radius: ['50%', '70%'],
                                // 图表中心位置 left 50%  top 50% 距离图表DOM容器
                                center: ['40%', '50%'],
                                // 半径模式，另外一种是 area 面积模式
                                //roseType: 'radius',
                                // 数据集 value 数据的值 name 数据的名称
                                data: [],
                                itemStyle: {
                                    normal: {
                                        label: {
                                            show: true,
                                            formatter: "{b} ({d}%)",

                                            //formatter: "{b} : {c} ({d}%)",

                                            //formatter: "{b} :\n  {c} \n ({d}%)",
                                            position: "outer"
                                        }
                                    }
                                },
                                //文字调整
                                label: {
                                    fontSize: 10,
                                    color: '#4c9bfd'
                                },
                                //引导线
                                labelLine: {
                                    length: 8,
                                    length2: 10
                                }
                            }
                        ],
                    };
                    option.series[0].data = data;
                    myChart.clear();
                    myChart.setOption(option, true);
                },

                //获取视频信息
                GetVideo: function () {
                    const canvas1 = document.getElementById('video-canvas1');
                    const canvas2 = document.getElementById('video-canvas2');
                    const canvas3 = document.getElementById('video-canvas3');
                    const canvas4 = document.getElementById('video-canvas4');
                    var urls1 = 'ws://192.168.0.66:18886';
                    var urls2 = 'ws://192.168.0.66:18887';
                    var urls3 = 'ws://192.168.0.66:18888';
                    var urls4 = 'ws://192.168.0.66:18889';
                    var players = new JSMpeg.Player(urls1, {
                        canvas: canvas1
                    });
                    var players1 = new JSMpeg.Player(urls2, {
                        canvas: canvas2
                    });
                    var players2 = new JSMpeg.Player(urls3, {
                        canvas: canvas3
                    });
                    var players3 = new JSMpeg.Player(urls4, {
                        canvas: canvas4
                    });
                }
            },
            computed: {
                //设置计算属性

            }
        });
    </script>
</body>
</html>